<h2 class="text-2xl font-bold mt-5 ">Buscar Gifs</h2>
<h3 class="text-sm text-gray-500">Buscar gifs por nombre descipcion o tags</h3>

<section class="flex flex-col gap-4 mb-2">
    <input
        type="text"
        placeholder="Buscar Gifs"
        class="mt-3 border border-gray-300 rounded-md p-2"
        (keyup.enter)="onSearch(txtSearch.value)"
        #txtSearch
    />
</section>

<section>
    @if(gifService.serchGifsLoading()){
        <p class="text-gray-400 mt-4">Cargando gifs...</p>
    } @else {
        <gifs-list [images]="gifService.serchGifs()"/>
    }
</section>